Repository unknowIfGuestInDream/dalian-dagunzi-fx, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, test, IDEA, vscode, eclipse, workflow, documentation, dependencies, dependency-submission, i18ns, release

feat: init commit
  .gitignore
  .idea/jarRepositories.xml
  .idea/vcs.xml
  pom.xml
  src/main/resources/com/tlcsdm/game/daliandagunzifx/hello-view.fxml
Labels: IDEA, dependencies, dependency-submission

feat: Add eventbus
  pom.xml
  src/main/java/com/tlcsdm/game/daliandagunzifx/utils/eventbus/EventBus.java
  src/main/java/com/tlcsdm/game/daliandagunzifx/utils/eventbus/ObserverAction.java
  src/main/java/com/tlcsdm/game/daliandagunzifx/utils/eventbus/ObserverRegister.java
  src/main/java/com/tlcsdm/game/daliandagunzifx/utils/eventbus/Subscribe.java
  src/main/java/module-info.java
Labels: dependencies, dependency-submission

feat: Add card demo
  src/main/java/com/tlcsdm/game/daliandagunzifx/FlipApp.java
  src/main/java/module-info.java
Labels: none

build: fix build error
  .github/workflows/issue-labeled.yml
  .github/workflows/label.yml
  .github/workflows/stale.yml
  pom.xml
Labels: workflow, dependencies, dependency-submission

build: fix build error
  .github/workflows/scorecard.yml
  pom.xml
Labels: workflow, dependencies, dependency-submission

ci: Add push action
  .github/workflows/maven.yml
Labels: workflow

build: Fix build error
  pom.xml
Labels: dependencies, dependency-submission

ci: Update label.yml
  .github/workflows/label.yml
Labels: workflow

.github/labeler.yml:

ci:
  - changed-files:
      - any-glob-to-any-file: [ 'jenkins/**' ,'.mvn/**' ,'.imgbotconfig' ,'.mergify.yml' ,'qodana.yaml' ]

test:
  - changed-files:
      - any-glob-to-any-file: [ '*/src/test/**' ]

IDEA:
  - changed-files:
      - any-glob-to-any-file: .idea/**

vscode:
  - changed-files:
      - any-glob-to-any-file: .vscode/**

eclipse:
  - changed-files:
      - any-glob-to-any-file: .settings/**

workflow:
  - changed-files:
      - any-glob-to-any-file: .github/**

documentation:
  - changed-files:
      - any-glob-to-any-file: [ 'CHANGELOG.md' ,'LICENSE' ,'README.md' ,'README_zh.md' ,'README_jp.md' ,'docs/**' ]

dependencies:
  - changed-files:
      - any-glob-to-any-file: [ 'pom.xml' ,'**/pom.xml' ]

dependency-submission:
  - changed-files:
      - any-glob-to-any-file: [ 'pom.xml' ,'**/pom.xml' ]

i18ns:
  - changed-files:
      - any-glob-to-any-file: [ '**/i18n/*.properties' ]

release:
  - changed-files:
      - any-glob-to-any-file: [ '**/META-INF/MANIFEST.MF' ]

automerge:
  - changed-files:
      - any-glob-to-all-files: [ 'README.md', 'README_zh.md', 'README_jp.md' ]
      - any-glob-to-any-file: [ 'CONTRIBUTORS.md' ]
